/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Background image styles */

img {
  width: 100vmax;
  min-width: 100vmin;
  opacity: 0.1;
  position: absolute;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

/* h1 styles */

h1 {
  font-family: 'Rammetto One', cursive;
  text-align: center;
  padding: 1rem;
}

/* Section styles */

section {
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 2em;

  border-radius: 1em;
  box-shadow: 0em 2em 2em rgba(0, 0, 0, 0.2);
}

/* Paragraph styles */

p {
  text-align: justify;
  line-height: 1.15rem;
  text-indent: 1rem;
  padding: 1rem;
}

/* Button styles */

button {
  background: #ccffdd;
  border: 4px outset green;
  padding: 0.25rem;
  margin: 1rem;

  font-family: 'Rammetto One', cursive;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem grey;
}
