/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Background image styles */

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

/* h1 styles */

h1 {
  font-family: 'Rammetto One', cursive;
  text-align: center;
  padding: 1rem;
}

/* Section styles */

section {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 1rem;
  margin: 0em 2em 2em 2em;

  border-radius: 1em;
  box-shadow: 0em 2em 2em rgba(0, 0, 0, 0.2);
}

/* Paragraph styles */

p {
  text-align: justify;
  line-height: 1.5rem;
  text-indent: 1rem;
  padding: 1rem;
}

/* Button styles */

article {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5em;
}

button {
  background: #ccffdd;
  border: 4px outset green;
  padding: 0.25rem;
  margin: 1rem;

  font-family: 'Rammetto One', cursive;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem grey;
}

img {
  width: 40%;
  height: 40%
}
